html,body,.con{
  width:100%;
  height:100%;
  overflow: hidden;
}
.con{
  min-width: 1202px;
  background: url("../image/bg.jpg") no-repeat;
  background-size: 100% 100%;

}
.head{
  position: relative;
  margin-bottom:10px;
  height:66px;
  background:url("../image/head-bg.png") no-repeat;
  background-size: 100% 100%;

}
.title_first{
  padding-top:18px;
}
.title_first p{
  margin:0;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}
.title_second{
  position: absolute;
  bottom:0;
  width: 211px;
  height: 30px;
  margin-left:10px;
  padding-top: 3px;
  padding-left: 8px;
  font-size: 18px;
  color: #ffffff;

  background-image: url("../../assets/image/3_03.png");
  background-size: 100% 100%;
}


.main{
  height:calc( 100vh - 66px );
  padding-bottom:10px;
  overflow: auto;
}
.main-head{
  margin:0 10px 10px;
}
.margin-bottom-10{
  margin-bottom:10px;
}

.color_1{
  background-color: #f7ad0c;
}
.color_2{
  background-color: #edde05;
}
.color_3{
  background-color: #8be87e;
}
.color_4{
  background-color: #1286ed;
}
.color_5{
  background-color: #eb615f;
}
.color_6{
  background-color: #43a8f0;
}
.color_7{
  background-color: #2a71ff;
}
.color_8{
  background-color: #9368dc;
}
.color_9{
  background-color: #14c6ca;
}
.text_color_1{
  color: #ffffff;
}
.text_color_2{
  color: #853cff;
}
.text_color_3{
  color: #01ff00;
}
.text_color_4{
  color: #fffa01;
}
.text_color_5{
  color: #ff8569;
}
.text_color_6{
  color: #2f7ac0;
}
.text_color_7{
  color: #25ccff;
}
