html,body,.con{
  width:100%;
  height:100%;
  overflow: hidden;
}
.con{
  min-width: 1360px;
  background: url("../image/bg.jpg") no-repeat;
  background-size: 100% 100%;

}

.main{
  height:calc( 100vh - 66px );
  padding-bottom:20px;
  overflow: auto;
}
.margin-bottom-10{
  margin-bottom:10px;
}
.margin-left-10{
  margin-left:10px;
}
.margin-right-10{
  margin-right:10px;
}
.margin-left-5{
  margin-left:5px;
}
.margin-right-5{
  margin-right:5px;
}
.margin-lr-10{
  margin-left:10px;
  margin-right:10px;
}
.border-bg{
  background: url('../image/table-border.png') no-repeat;
  background-size:100% 100%;
}

.color_1{
  background-color: #f7ad0c;
}
.color_2{
  background-color: #edde05;
}
.color_3{
  background-color: #8be87e;
}
.color_4{
  background-color: #1286ed;
}
.color_5{
  background-color: #eb615f;
}
.color_6{
  background-color: #43a8f0;
}
.color_7{
  background-color: #2a71ff;
}
.color_8{
  background-color: #9368dc;
}
.color_9{
  background-color: #14c6ca;
}
.color_10{
  background-color: #77e79f;
}
.color_11{
  background-color: #067bdb;
}
.color_12{
  background-color: #3169fe;
}
.color_13{
  background-color: #6017fc;
}
.color_14{
  background-color: #ff4694;
}
.color_15{
  background-color: #ffe844;
}
.color_16{
  background-color: #ff8569;
}
.color_17{
  background-color: #333591;
}
.color_18{
  background-color: #2b52a4;
}
.color_19{
  background-color: #949494;
}
.text_color_1{
  color: #ffffff;
}
.text_color_2{
  color: #853cff;
}
.text_color_3{
  color: #01ff00;
}
.text_color_4{
  color: #fffa01;
}
.text_color_5{
  color: #ff8569;
}
.text_color_6{
  color: #2f7ac0;
}
.text_color_7{
  color: #25ccff;
}
.text_color_8{
  color: #75e7a1;
}
.text_color_9{
  color: #68bbff;
}
.text_color_10{
  color: #0ac3fb;
}
.text_color_11{
  color: #9c65fe;
}
.text_color_12{
  color: #fd18a6;
}

.font-size-12{
  font-size: 12px;
}
.font-size-13{
  font-size: 13px;
}
.font-size-15{
  font-size: 15px;
}
.font-size-18{
  font-size: 18px;
}
.font_style_1{
  color: #ffffff;
  font-size: 18px;
  text-shadow: 0 0 5px #ffffff;
  line-height: 25px;
  vertical-align: middle;
}
.border-img{
  background:url('../image/border_1.png') no-repeat;
  background-size: 100% 100%;
}
